<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>8교시 메인화면</title>
	<link rel="stylesheet" href="/css/common/main.css">
	<script src="https://kit.fontawesome.com/1162b5b0f6.js" crossorigin="anonymous"></script>
	<th:block th:replace="~{common/common}"></th:block>
</head>
<body>
	<!-- common/header.html 을 header로 사용합니다. -->
	<!-- !! 모든 화면에서 해당 header를 사용해주세요. -->
	<th:block th:replace="~{common/header}"></th:block>

<container id="main-container"> <!-- 메인화면 이미지 섹션 + 게시판 전체 섹션-->
    
    <section class="main-img-section"> <!-- 메인화면 이미지 섹션 -->
		<img src="/images/mainImg2.png" id="mainImg">
    </section>

    <section class="main-board"> <!-- 메인화면 게시판 전체 섹션(6개) -->
		<th:block th:unless="${#lists.isEmpty(boardTop5List)}"> <!-- 상단 부분 3개 -->
			<section class="main-board-all" id="main-board-upper"> 
				<div th:each="i : ${#numbers.sequence(0, 2)}" class="main-board-ea">
					
					<div class="board-name-area"> <!-- 게시판 부분 상단 제목(글자 클릭 시 해당 게시판 이동)-->
						<div>
							<img src="#"> 
		      				<a th:text="${boardTypeList[i].boardTypeName}" th:href="@{/board/{boardTypeNo}(boardTypeNo=${boardTypeList[i].boardTypeNo})}" class="board-name" id="board-free-name">게시판 이름</a>
		    			</div>
			    		<div class="top5-text">인기글 TOP5
						</div>
		  			</div>
					
					<section class="board-top5-list"> <!-- 게시판 인기글 탑5 목록-->
						<th:block th:each="board : ${boardTop5List}">
							<section th:if="${board.boardTypeNo == boardTypeList[i].boardTypeNo}"> <!-- 순위-->
								
								<div th:class="'board-rank' + ${board.rank} + ' board-rank'" th:text="${board.rank}">
									순위
								</div> <!-- 순위 -->
								
								<section id="top5each"> <!-- 순위별 게시글 정보 부분-->
									<div class="board-rank-part-upper">
										<a th:href="@{/board/{boardTypeNo}/{boardId}(boardTypeNo=${boardTypeList[i].boardTypeNo}, boardId=${board.boardId}, cp=${(board.mainCp - 1) / 10 + 1})}"
										th:text="${board.boardTitle}">
											게시글 제목 TEST
										</a>
										<div th:if="${board.isNew == 1}" th:class="new">NEW</div> <!-- 게시글에 대한 아이콘(NEW, HOT 등)-->
										<div th:if="${board.boardViewCount >= 5}" th:class="hot">HOT</div>
			            			</div>
									
									<div class="board-rank-part-lower"> <!-- 게시글 제목 하단 정보 표시 부분(조회수 등)-->
										<span class="board-rank-part-view"> <!-- 게시글 제목 하단 조회수 -->
											
											<i class="fa-regular fa-eye"></i>
											<div th:text="${board.boardViewCount}"></div>
										</span>
										<span class="board-rank-part-comment"> <!-- 게시글 제목 하단 댓글수 -->
											
											<i class="fa-regular fa-comment"></i>
											<div th:text="${board.boardCommentCount}"></div>
										</span>
										<span class="board-rank-part-writedate"> <!-- 게시글 제목 하단 게시일자 -->
											
											<i class="fa-regular fa-clock"></i>
											<div th:text="${board.boardCreateDate}"></div>
										</span>
									</div>
								</section>
								
							</section>
						</th:block>
					</section>
					
				</div>
			</section>
		</th:block>
		
		<th:block th:unless="${#lists.isEmpty(boardTop5List)}"> <!-- 하단 부분 3개 -->
			<section class="main-board-all" id="main-board-lower"> 
				<div th:each="i : ${#numbers.sequence(3, 5)}" class="main-board-ea">
					
					<div class="board-name-area"> <!-- 게시판 부분 하단 제목(글자 클릭 시 해당 게시판 이동)-->
						<div>
		      				<a th:text="${boardTypeList[i].boardTypeName}" th:href="@{/board/{boardTypeNo}(boardTypeNo=${boardTypeList[i].boardTypeNo})}" class="board-name" id="board-free-name">게시판 이름</a>
		    			</div>
			    		<div class="top5-text">인기글 TOP5
						</div>
		  			</div>
					
					<section class="board-top5-list"> <!-- 게시판 인기글 탑5 목록-->
						<th:block th:each="board : ${boardTop5List}">
							<section th:if="${board.boardTypeNo == boardTypeList[i].boardTypeNo}"> <!-- 순위-->
								
								<div th:class="'board-rank' + ${board.rank} + ' board-rank'" th:text="${board.rank}">
									순위
								</div> <!-- 순위 -->
								
								<section id="top5each"> <!-- 순위별 게시글 정보 부분-->
									<div class="board-rank-part-upper">
										<a th:href="@{/board/{boardTypeNo}/{boardId}(boardTypeNo=${boardTypeList[i].boardTypeNo}, boardId=${board.boardId}, cp=${(board.mainCp - 1) / 10 + 1})}"
										th:text="${board.boardTitle}">
											게시글 제목 TEST
										</a>
										<div th:if="${board.isNew == 1}" th:class="new">NEW</div> <!-- 게시글에 대한 아이콘(NEW, HOT 등)-->
										<div th:if="${board.boardViewCount >= 5}" th:class="hot">HOT</div>
			            			</div>
									
									<div class="board-rank-part-lower"> <!-- 게시글 제목 하단 정보 표시 부분(조회수 등)-->
										<span class="board-rank-part-view"> <!-- 게시글 제목 하단 조회수 -->
											
											<i class="fa-regular fa-eye"></i>
											<sth:text="${board.boardViewCount}"></sth:text=>
										</span>
										<span class="board-rank-part-comment"> <!-- 게시글 제목 하단 댓글수 -->
											
											<i class="fa-regular fa-comment"></i>
											<div th:text="${board.boardCommentCount}"></div>
										</span>
										<span class="board-rank-part-writedate"> <!-- 게시글 제목 하단 게시일자 -->
											
											<i class="fa-regular fa-clock"></i>
											<div th:text="${board.boardCreateDate}"></div>
										</span>
									</div>
								</section>
								
							</section>
						</th:block>
					</section>
					
				</div>
			</section>
		</th:block>
		

		
</section>
    
	
	
	
  </container>

  <!-- common/footer.html 을 footer로 사용합니다. -->
  <!-- !! 모든 화면에서 해당 footer를 사용해주세요. -->
  <th:block th:replace="~{common/footer}"></th:block>
  
</body>
</html>

<!-- seongjong -->