<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 탈퇴</title> <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/myPage/myPage-secession.css">
</head>

<body>
  <th:block th:replace="~{common/header}"></th:block>

  <main>
    <section class="myPage-content">
      <th:block th:replace="~{myPage/myPage-sideMenu}"></th:block>

      <section class="myPage-main">

        <h1 class="myPage-title">회원 탈퇴</h1>
        <span class="myPage-subject">
          현재 비밀번호가 일치하는 경우 탈퇴할 수 있습니다.
        </span>

        <form action="secession" method="POST" name="myPageFrm" id="secession">
          
          <div class="myPage-row">
            <label>비밀번호</label>
            <input type="password" name="memberPw" id="memberPw" maxlength="16">
          </div>

          <div class="myPage-row info-title">
						<label>회원 탈퇴 약관</label>
					</div>

          <div class="secession-terms">
이용약관

제1조 (목적)
이 약관은 주식회사 8교시(이하 “회사”)가 제공하는 온라인 웹사이트 서비스(이하 “서비스”)에 대한 이용계약을 체결한 이용자(이하 “회원”)의 서비스 이용조건 및 절차, 회사와 회원의 권리와 의무 및 책임사항을 규정함을 목적으로 합니다.

제2조 (정의)
(1) 회원 ID란 회원 식별 및 서비스 이용 등을 위해 이용자가 직접 설정, 입력한 이메일주소를 뜻합니다.
(2) 패스워드란 회원 정보 보호 및 회원 별 정보 제공 서비스 등을 위해 이용자가 직접 설정, 입력하며 문자와 숫자로 이뤄진 조합을 뜻합니다.
(3) 운영자란 서비스의 전반적 관리 및 운영을 담당하는 회사의 직원을 뜻합니다.
제3조 (회원 가입 신청 및 허가)
회원 가입은 회원이 회사가 제시하는 양식에 자기 정보를 입력, 신청하고 회사는 이를 허가함으로써 이루어집니다.

제4조 (회원 가입 신청 시 기재 항목)
회원은 회원 가입 신청 시 다음 항목은 필수적으로 입력해야 합니다.

1. 이름
2. 이메일주소/패스워드
3. 생년월일
4. 휴대폰번호
제5조 (회원 가입 허가 및 유보 등)
(1) 회사는 제4조에 규정된 각 항목을 성실히 기재하고 본 약관에 동의하는 이용자에 한해 서비스 이용을 허가합니다.
(2) 회사는 다음 각 호의 경우 허가를 유보할 수 있습니다.
1. 서비스를 제공하지 못할 기술적 장애가 발생한 경우
2. 기타 회사가 필요하다고 판단한 경우
(3) 회사는 다음 각 호의 경우 허가를 철회하거나 거절할 수 있습니다.
1. 제4조에 규정된 항목을 허위로 기재한 경우
2. 다른 사람의 명의를 도용, 회원 가입을 신청한 경우
3. 사회 공공질서 또는 건전한 미풍양속을 저해할 우려가 있다고 충분히 인정되는 경우
4. 기타 회원으로서 부적절한 행위를 할 우려가 있다고 충분히 인정되는 경우
제6조 (회원 정보의 변경)
회원은 서비스의 이용 및 원활한 정보 제공 등을 위해 자기 정보를 성실히 관리해야 하며, 변동 사항이 있을 경우 이를 변경해야 합니다.

제7조 (회원 탈퇴 및 이용 제한)
(1) 탈퇴를 원하는 회원은 회원 본인이 직접 온라인을 통해 탈퇴 신청을 해야 합니다.
(2) 회원 가입 시 입력했던 개인신상 정보는 회원 탈퇴 시 즉각 삭제됩니다.
(3) 회사는 회원이 다음 각 호에 해당되는 행위를 했을 경우 사전 고지 없이 이용 계약을 해지(회원 탈퇴)할 수 있습니다.
1. 사회 공공질서나 건전한 미풍양속에 저해되는 활동을 하는 경우
2. 다른 사람의 권리 등을 침해하는 불법적 게시물을 올리는 경우
3. 자신의 정보 등을 허위로 입력한 경우
4. 동일인이 여러 이메일주소를 이용하여 복수 지원하는 경우
5. 타인의 명의를 도용해 회원으로 가입한 경우
6. 다양한 불법적 수단으로 본 사이트의 운영을 방해하는 경우
7. 회사가 제공하는 서비스 이용 중 얻게 된 정보를 상업적으로 이용하거나 무단으로 외부에 공표하는 경우
8. 기타 다른 회원이나 회사에 피해를 끼치는 경우
(4) 회사는 제7조 (2)항의 규정에 의해 이용 계약이 해지(회원 탈퇴)된 이용자의 경우 해당 이용자의 서비스 이용(회원 가입)을 최대 2년까지 제한할 수 있습니다.
제8조 (휴면 정책)
2023년 9월 15일 개인정보 보호법 개정 (개정전 제 39조의6 삭제)에 따라, 회사는 휴면 정책을 운영하지 않으며 개인 신상정보를 회원 탈퇴 시까지 보유합니다.

제9조 (회원 신상정보 관리)
(1) 회사는 회원이 회사가 제공하는 서비스를 원활하게 이용할 수 있도록 노력할 의무가 있으며, 회원 신상정보 역시 회원에 대한 서비스 향상을 위해서만 이용합니다.
(2) 회사는 서비스 제공을 위해 수집한 회원 신상정보를 본인의 승낙 없이 제3자에게 배포, 제공하는 등 외부로 유출하지 않습니다. 단, 적법한 절차를 거친 국가기관의 요구나 기타 공익을 위해 필요하다고 인정되는 경우는 예외로 합니다.
제10조 (서비스 이용에 대한 회원의 의무)
(1) 회원의 관리 소홀로 인한 회원 ID 및 패스워드 노출과 이에 따른 피해는 전적으로 회원이 책임지도록 합니다.
(2) 회사에서 제공하는 서비스에 대한 회원의 이용권한은 회원 개인에 한정된 것이며, 제3자에 양도나 대여할 경우 회사에서 임의로 해당 회원의 ID를 삭제할 수 있습니다. 특히 무단 양도나 대여에 대한 책임은 전적으로 회원이 책임지도록 합니다.
(3) 회원은 회사에서 제공하는 서비스를 이용할 때 다음 각 호의 행위를 해서는 안 됩니다.
1. 다른 사람의 이메일 주소를 무단 사용하는 행위
2. 서비스 이용 중 습득한 정보를 상업적 목적으로 이용하거나 올린 이 또는 회사의 허가 없이 출판, 방송 등 제3자에게 노출시키는 행위
3. 저작권 등 제3자의 권리를 침해하는 게시 행위
4. 회사의 사이트 운영을 방해하는 행위
5. 사회 공공질서에 위배되거나 건전한 미풍양속을 저해하는 정보나 문자, 그림 등을 타인에게 유포하는 행위
(4) 회원은 회사의 회원에 대한 서비스 향상을 위한 노력에 성실히 협조해야 합니다.
제11조 (게시 및 저장 자료에 대한 책임과 권리)
(1) 회원은 자신이 사이트 내에 게재한 소프트웨어, 프로그램, 정보, 메시지, 데이터, 문서, 그림, 이미지, 문자, 소리, 개인정보 등에 대해 책임이 있으며, 저작권 침해 등 기타 불법 행위로 인해 발생하는 피해에 대해서도 책임을 갖습니다.
(2) 회사는 사이트 내에 게시되거나 저장된 자료의 관리에 성실히 노력합니다.
(3) 사이트 내에 저장 또는 게재된 모든 자료의 저작권은 해당 자료의 등록자에게 있으며, 외부에서 가져온 타인의 게시물 및 자료는 등록자의 저작권이 인정되지 않습니다.
제12조 (면책 및 손해배상)
(1) 회사는 다음 각 호의 경우로 서비스를 제공할 수 없는 경우 이로 인하여 회원에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.
1. 천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우
2. 서비스 제공을 위하여 회사와 서비스 제휴계약을 체결한 제3자의 고의적인 서비스 방해가 있는 경우
3. 회원의 귀책사유로 서비스 이용에 장애가 있는 경우
4. 제1호 내지 제3호를 제외한 기타 회사의 귀책사유가 없는 경우
(2) 회사는 서비스 및 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 회원의 손해에 대하여는 책임을 부담하지 아니합니다.
(3) 회원이 본 약관의 규정을 위반하여 회사에 손해가 발생한 경우 회사는 회원에 대하여 손해배상을 청구할 수 있습니다. 이 경우 회원은 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.
제13조 (약관의 효력 및 변경)
(1) 본 약관의 내용은 회사가 제공하는 개별 서비스 또는 서비스 초기 화면에 게시하거나 기타의 방법으로 공지하고, 본 약관에 동의한 회원 모두에게 그 효력이 발생합니다.
(2) 회사는 필요한 경우 관련법령을 위배하지 않는 범위 내에서 본 약관을 변경할 수 있습니다. 본 약관이 변경되는 경우 회사는 변경 사항을 시행일자 15일 전부터 회원에게 공지 또는 통지하는 것을 원칙으로 하며, 불가피하게 회원에게 불리한 내용으로 변경할 경우에는 그 시행일자 30일 전부터 카카오계정 또는 Daum 아이디로 사용하는 이메일 주소로 이메일을 발송하거나, 카카오톡을 보내거나, 알림 메시지를 띄우는 등 합리적으로 가능한 방법으로 변경사항을 공지 또는 통지합니다.
(3) 회사가 전 항에 따라 공지 또는 통지를 하면서 공지 또는 통지일로부터 개정약관 시행일 7일 후까지 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 회원의 의사표시가 없는 경우에는 변경된 약관을 승인한 것으로 봅니다. 회원은 개정약관에 동의하지 않을 경우 이용계약을 해지할 수 있습니다.
제14조 (약관 규정 외 사항에 관한 준칙)
(1) 본 약관에 규정되지 않은 사항에 대해서는 관련 법령 또는 회사의 운영정책 및 개인정보처리방침 등의 규칙(이하 “세부규칙”)에 따릅니다.
(2) 또한 본 약관과 세부규칙의 내용이 충돌할 경우 세부규칙에 따릅니다.
제15조 (준거법 및 관할 법원)
(1) 본 약관 또는 서비스는 대한민국법령에 의하여 규정되고 이행됩니다.
(2) 서비스 이용과 관련하여 회사와 회원 간에 분쟁이 발생하면 이의 해결을 위해 성실히 협의할 것입니다. 그럼에도 불구하고 해결되지 않으면 민사소송법의 관할법원에 소를 제기할 수 있습니다.
          </div>

          <div class="agree-area">
            <input type="checkbox" name="agree" id="agree">
            <label for="agree">위 약관을 모두 확인하였으며, 이에 동의합니다.</label>
          </div>

          <button class="myPage-submit">탈퇴하기</button>
        </form>

      </section>
    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>

  <script src="/js/myPage/myPage-update.js"></script>
</body>

</html>