<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
</head>

<section class="left-side">
  <ul class="list-group">
    <li>
      <a href="/myPage/profile">프로필</a>
    </li>

    <li>
      <a href="/myPage/info">내 정보</a>
    </li>

    <li>
      <a href="/myPage/changePw">비밀번호 변경</a>
    </li>

    <li>
      <a href="/myPage/secession">회원 탈퇴</a>
    </li>
</section>
