<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 메인</title>
    <link rel="stylesheet" href="/css/myPage/myPage-main.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
    <th:block th:replace="~{common/header}"></th:block>

    <container id="main-container">

        <container class="main-myPage"> <!-- 마이페이지 메인 기능 부분 -->

            <section class="upper"> <!--마이페이지 상단: 캘린더, todo-->

                <section class="calender main-content"> <!-- 캘린더 -->

                    <div id="calender-upper"> <!-- 캘린더 상단 부분-->
                        <div id="calender-name">
                            캘린더
                        </div>
                        <div id="calender-year"></div> <!-- 현재 연도 출력 -->
                        <div id="year-area">
                            <button id="calender-left-btn">left</button>
                            <div id="calender-month"></div> <!-- 현재 월 출력 -->
                            <button id="calender-right-btn">right</button>
                        </div>
                    </div>

                    <div id="calender-main"> <!-- 캘린더 메인 -->
                        <table class="calender-table">
                            <tr class="calender-table-head">
                                <th>mon</th>
                                <th>tue</th>
                                <th>wed</th>
                                <th>thu</th>
                                <th>fri</th>
                                <th>sat</th>
                                <th>sun</th>
                            </tr>
                            <tbody class="calender-table-body">
                            </tbody>
                        </table>
                    </div>

                </section> <!-- 캘린더 끝-->

                <section class="todo main-content"> <!-- todo -->
                    <div id="todo-upper">제목 부분</div>
                    <div id="todo-list">
                        <ul>
                            <li>할일1</li>
                            <li>할일2</li>
                        </ul>
                    </div>
                    <button>수정</button>
                </section> <!--todo 끝-->

            </section> <!-- 마이페이지 상단 끝 -->

            <section class="mid"> <!--마이페이지 중단: 시간표-->

                <section class="class-table main-content"> <!-- 시간표 -->

                    <section id="semester">시간표</section>

                    <section id="timetable-upper"> <!-- 시간표 상단 부분-->
                        <div id="semester-name">
                            <div>
                                <button class="ttbtn" id="sem-left">left</button>
                            </div>
                            <div id="semester-name">
                                <span id="semesterYear"></span> <!-- 년도 -->
                                <span>년도</span>
                                <span id="semesterPeriod"></span> <!-- 학기 -->
                                <span>학기</span>
                            </div>
                            <div>
                                <button class="ttbtn" id="sem-right">right</button>
                            </div>
                        </div>
                        <div id="semester-edit-area">
                            <button class="ttbtn" id="semester-edit-btn">수정</button>
                        </div>
                    </section>

                    <!-- 전달된 값이 있는 경우-->
                    <th:block th:if="${!isTimetableEmpty}">
                        <section id="timetable-lower"> <!-- 1시간표 하단 부분-->
                            <th:block th:each="i : ${#numbers.sequence(0,5)}">
                                <section> <!-- 6개 생성-->
                                    <th:block th:switch="${i}"> <!-- 각 요일 제목 부분-->
                                        <div th:case="0" th:text="MON" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="1" th:text="TUE" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="2" th:text="WED" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="3" th:text="THU" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="4" th:text="FRI" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="5" th:text="SAT" th:class="'day'+${i+1}"></div> <!-- 3-->
                                    </th:block>
                                    <div class="day-lower">
                                        <th:block th:each="j : ${#numbers.sequence(0,6)}">
                                            <div>
                                                <span th:class="'classtime ct'+${j+1}" th:text="|${j+1}교시|"></span>
                                                <!-- 4--> <!-- 요일 당 7개 생성 -->
                                                <span th:class="subject" th:id="|day${i+1}cls${j+1}|"
                                                    th:text="${fullTimetable[i][j]}"></span>
                                            </div>
                                        </th:block>
                                    </div>
                                </section>
                            </th:block>
                        </section>
                    </th:block>

                    <!-- 전달된 값이 없는 경우-->
                    <th:block th:if="${isTimetableEmpty}">
                        <section id="timetable-lower"> <!-- 1시간표 하단 부분-->
                            <th:block th:each="i : ${#numbers.sequence(0,5)}">
                                <section> <!-- 6개 생성-->
                                    <th:block th:switch="${i}"> <!-- 각 요일 제목 부분-->
                                        <div th:case="0" th:text="MON" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="1" th:text="TUE" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="2" th:text="WED" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="3" th:text="THU" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="4" th:text="FRI" th:class="'day'+${i+1}"></div> <!-- 3-->
                                        <div th:case="5" th:text="SAT" th:class="'day'+${i+1}"></div> <!-- 3-->
                                    </th:block>
                                    <div class="day-lower">
                                        <th:block th:each="j : ${#numbers.sequence(0,6)}">
                                            <div>
                                                <span th:class="'classtime ct'+${j+1}" th:text="|${j+1}교시|"></span>
                                                <!-- 4--> <!-- 요일 당 7개 생성 -->
                                                <span th:class="subject" th:id="|day${i+1}cls${j+1}|"
                                                    th:text="미설정"></span>
                                            </div>
                                        </th:block>
                                    </div>
                                </section>
                            </th:block>
                        </section>
                    </th:block>

                </section> <!-- 시간표 끝 -->
            </section> <!-- 마이페이지 중단 끝 -->

            <section class="lower"> <!--마이페이지 하단: 일기장, 오답노트 -->

                <section class="diary main-content"><!-- 일기장-->
                    <section id="diary-header" class="diary-component">
                        <div id="diary-name" class="diary-component">일기장</div>
                    </section>

                    <section id="diary-body">
                        <form method="POST" id="diary-form">
                            <label>
                                <input type="text" name="diaryDate" id="diaryDate" th:value="${diary?.diaryDate}"
                                    placeholder="작성일 YYYYMMDD (예: 20251225)" required>
                            </label>

                            <label>
                                <input type="text" name="diaryTitle" id="diaryTitle" th:value="${diary?.diaryTitle}"
                                    placeholder="제목">
                            </label>

                            <label>
                                <textarea name="diaryContent" id="diaryContent" placeholder="내용"
                                    th:text="${diary?.diaryContent}"></textarea>
                            </label>

                            <div class="diary-buttons">
                                <button type="button" id="diary-selectBtn">조회</button>

                                <button type="submit" th:formaction="@{/myPage/diary/insertDiary}">저장</button>
                                <button type="submit" th:formaction="@{/myPage/diary/deleteDiary}">삭제</button><br>
                                <div id="diary-footer">
                                    <p>* 일기장 조회 및 일기내용 삭제를 원하신다면
                                        작성일을 입력하고 버튼을 클릭해주세요</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </section> <!-- 일기장 끝-->

                <!-- 오답노트 정보 없을 때-->
                <th:block th:if="${#lists.isEmpty(wrongNoteDTOLists)}">
                    <section class="wrong-note main-content"> <!-- 오답노트-->

                        <section id="wrong-note-name">
                            <div>오답노트</div>
                            <div>틀렸던 문제를 등록하고 문제를 복습해보세요!</div>
                        </section>

                        <section id="wrong-note-content">
                            <div>
                                <a
                                    th:href="@{/myPage/myPage-wrongNote/{wrongNoteNo}(wrongNoteNo=${wrongNoteDTOLists[0].wrongNoteNo})}">오답노트
                                    페이지로 이동</a>
                            </div>
                            <div id="wrong-note-list">
                                아직 등록된 오답노트가 없어요.
                            </div>
                        </section>
                    </section> <!-- 오답노트 끝-->
                </th:block>

                <!-- 오답노트 정보 있을 때-->
                <th:block th:unless="${#lists.isEmpty(wrongNoteDTOLists)}">
                    <section class="wrong-note main-content"> <!-- 오답노트-->

                        <section id="wrong-note-name">
                            <div>오답노트</div>
                            <div>틀렸던 문제를 등록하고 문제를 복습해보세요!</div>
                        </section>

                        <section id="wrong-note-content">
                            <div>
                                <a
                                    th:href="@{/myPage/myPage-wrongNote/{wrongNoteNo}(wrongNoteNo=${wrongNoteDTOLists[0].wrongNoteNo})}">&nbsp;&nbsp;오답노트
                                    페이지로 이동&nbsp;&nbsp;</a>
                            </div>
                            <div id="wrong-note-list">
                                <ul>

                                    <!-- 반복문을 돌며 8개 li 생성-->
                                    <li th:each="i : ${#numbers.sequence(0,7)}">
                                        <a href="#">
                                            <!-- wrongNoteLists의 size 가 8개(i) 이하일 때만 생성하고, i번째 인덱스의 배열이 비어있지 않을 시 
                                                해당 인덱스의 제목을 출력하고 그게 아니라면 '오답노트가 비어 있습니다' 출력 + 
                                                비어 있을 시 클래스 추가-->
                                            <div th:text="${wrongNoteDTOLists.size() > i 
                                                        && wrongNoteDTOLists[i] != null} ? 
                                                        ${wrongNoteDTOLists[i].wrongNoteTitle} : '오답노트가 비어 있습니다.'"
                                                th:classappend="${wrongNoteDTOLists.size() <= i || wrongNoteDTOLists[i] == null ? 'wn-li-empty' : ''}">
                                            </div>
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </section>
                    </section> <!-- 오답노트 끝-->
                </th:block>

            </section> <!-- 마이페이지 하단 끝 -->

        </container>

        <container class="sidebar"> <!-- 프로필 및 색상 테마 수정 부분-->
            <section class="my-profile">
                <div id="my-name">
                    회원 이름 들어갈 부분
                </div>
                <div id="picture-edit-area">
                    <div id="my-profile-picture"></div>
                    <a href="myPage/info">수정</a>
                </div>
            </section>
            <section class="quotes-card">
                <div class="quotes-header">동기부여</div>

                <div id="quotes-menu-container">
                    <form method="post" id="quotes-form" th:action="@{/myPage/changeFont}">
                        <div class="input-group">
                            <textarea id="quotes-content" 
                                th:text="${quotes?.quotesContent}"
                                th:style="'font-size:' + ${quotes?.fontSize ?: 16} + 'px; font-family:' + ${quotes?.fontFamily ?: 'inherit'} + ';'">
                            </textarea><b>
                        </div>

                        <div class="controls-row">

                            <input type="number" id="font-size" name="fontSize" placeholder="크기(px)">

                            <div class="input-group font-select">
                                <select id="menu-font-menu" name="fontFamily">
                                    <option value="'Malgun Gothic', sans-serif">맑은 고딕 (기본)</option>
                                    <option value="Dotum, sans-serif">돋움</option>
                                    <option value="Gulim, sans-serif">굴림</option>
                                    <option value="Arial, sans-serif">Arial (영문 추천)</option>
                                    <option value="'Batang', serif">바탕체</option>
                                    <option value="'Gungsuh', serif">궁서체</option>
                                    <option value="'Times New Roman', serif">Times New Roman</option>
                                    <option value="cursive">필기체 스타일</option>
                                    <option value="fantasy">화려한 스타일</option>
                                </select>
                            </div>
                            <button type="submit" class="save-btn">적용</button>
                        </div>
                    </form>
                </div>
            </section>

        </container>

    </container>

    <script th:inline="javascript">

        // font 관련
        const serverFontSize = [[${ fontSize }]] || 16;
        const serverFontFamily = [[${ fontFamily }]] || "'Malgun Gothic', sans-serif";
        const serverContent = [[${ content }]] || "";


        // Calender 관련
        const calenderList = [[${ calender }]];
        console.log(calenderList);


        // 시간표 관련
        // 서버로부터 전달된 정보가 없다면 현재 날짜 전달
        let tempToday = new Date();
        let tempYear = tempToday.getFullYear();
        let tempMonth = tempToday.getMonth() + 1;

        let semesterStr = [[${ semesterStr != null ? semesterStr : 'null'}]];

        if ([[${ semesterStr }]] === null) {
            if (tempMonth <= 2 || tempMonth >= 9) {
                tempYear -= 1;
                semesterStr = String(tempYear) + "-2";
            } else {
                semesterStr = String(tempYear) + "-1";
                // semesterStr = `${tempYear}-2`;
            }
        }

        console.log(semesterStr);
    </script>

    <script src="/js/myPage/myPage-main.js"></script>
    <th:block th:replace="~{common/footer}"></th:block>

</body>

</html>