<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>8gyosi 회원가입</title>

  <link rel="stylesheet" href="/css/member/signup-style.css">

  <!-- fontawesome 카메라 아이콘 -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->
  <!-- 8gyosi, login 픽셀 폰트 awesome -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet"> -->
</head>

<body>

  <!-- 공통 header -->
  <th:block th:replace="~{common/header}"></th:block>

  <!-- 헤더 시작 
  <header class="navbar">
    <div class="logo">8gyosi</div>
    <nav>
      <a href="#">게시판</a>
      <a href="#">채팅</a>
      <a href="#" class="login-btn">LOGIN</a>
    </nav>
  </header>
  -->


  <!-- 회원가입 헤더 -->
  <main class="container">
    <section class="signup-card">
      <div class="card-header">회원가입</div>

      <!-- <div class="card-body">
        <div class="profile-section">
          <div class="profile-circle">
            <div class="camera-icon">
              <i class="fa-solid fa-camera"></i>
            </div>
            <div class="delete-icon">X</div>
          </div>
        </div> -->

      <!-- <form action="/8gyosi/profile" method="POST" name="myPageFrm" id="profile" 
      enctype="multipart/form-data"> -->


      </form>

      <!-- 회원가입 시작 -->
      <form action="/8gyosi/signup" method="POST" name="signUpForm" id="signUpForm">

        <!-- 프로필 이미지 -->
        <!-- <div class="profile-image-container">
          <div class="profile-image-area">
            <img th:src="${session.loginMember?.profileImg ?: '/images/default-user.png'}" id="profileImg" />
          </div>
          <span id="deleteImage">x</span>

          <div class="profile-btn-area">
            <label for="imageInput">이미지 선택</label>
            <input type="file" name="profileImg" id="imageInput" accept="image/*" />
          </div>
        </div>

        <button>변경하기</button>
        </div> -->

        <!-- 이메일 입력 -->
        <label for="memberEmail">
          <span class="required">*</span> 아이디(이메일)
        </label>

        <div class="signUp-input-area">
          <input type="text" name="memberEmail" id="memberEmail" placeholder="아이디(이메일)" maxlength="30"
            autocomplete="off">

          <button id="sendAuthKeyBtn" type="button">인증번호 받기</button>
        </div>

        <span class="signUp-message" id="emailMessage">메일을 받을 수 있는 이메일을 입력해주세요.</span>

        <!-- 인증번호 입력 -->
        <label for="emailCheck">
          <span class="required">*</span> 인증번호
        </label>

        <div class="signUp-input-area">
          <input type="text" name="authKey" id="authKey" placeholder="인증번호 입력" maxlength="6" autocomplete="off">

          <button id="checkAuthKeyBtn" type="button">인증하기</button>
        </div>

        <span class="signUp-message" id="authKeyMessage"></span>

        <!-- 비밀번호/비밀번호 확인 입력 -->
        <label for="memberPw">
          <span class="required">*</span> 비밀번호
        </label>

        <div class="signUp-input-area">
          <input type="password" name="memberPw" id="memberPw" placeholder="비밀번호" maxlength="20">
        </div>

        <div class="signUp-input-area">
          <input type="password" name="memberPwConfirm" id="memberPwConfirm" placeholder="비밀번호 확인" maxlength="20">
        </div>

        <!-- 정규 표현식 -->
        <span class="signUp-message" id="pwMessage">영어,숫자,특수문자(!,@,#,-,_) 6~20글자 사이로 입력해주세요.</span>

        <!-- 닉네임 입력 -->
        <label for="memberNickname">
          <span class="required">*</span> 닉네임
        </label>

        <div class="signUp-input-area">
          <input type="text" name="memberNickname" id="memberNickname" placeholder="닉네임 입력" maxlength="10">
        </div>

        <span class="signUp-message" id="nickMessage">한글,영어,숫자로만 2~10글자</span>


        <!-- 전화번호 입력 -->
        <label for="memberTel">
          <span class="required">*</span> 전화번호
        </label>

        <div class="signUp-input-area">
          <input type="text" name="memberTel" id="memberTel" placeholder="(- 없이 숫자만 입력)" maxlength="11">
        </div>

        <span class="signUp-message" id="telMessage">전화번호를 입력해주세요.(- 제외)</span>

        <!-- 학교 입력 -->
        <label for="memberSchool">
          <span class="required">*</span> 학교
        </label>

        <div class="signUp-input-area">
          <input type="text" name="memberSchool" id="memberSchool" placeholder="학교명 입력" maxlength="40">
        </div>

        <span class="signUp-message" id="schoolMessage">한글, 영어, 숫자, ·, 띄어쓰기 2~40자 사이로 입력해 주세요</span>

        <!-- 생년월일 입력 -->
        <label for="memberBirth">
          <span class="required">*</span> 생년월일
        </label>

        <div class="signUp-input-area">
          <input type="text" name="memberBirth" id="memberBirth" placeholder="ex)20001213" maxlength="8">
        </div>

        <span class="signUp-message" id="birthMessage">숫자만 입력해 주세요</span>

        <!-- 주소 입력 -->
        <label for="memberAddress">주소</label>

        <div class="signUp-input-area">
          <input type="text" name="memberAddress" placeholder="우편번호" maxlength="6" id="postcode">
          <button type="button" id="searchAddress">검색</button>
        </div>

        <div class="signUp-input-area">
          <input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address">
        </div>

        <div class="signUp-input-area">
          <input type="text" name="memberAddress" placeholder="상세 주소" id="detailAddress">
        </div>

        <button id="signUpBtn">가입하기</button>
      </form>
      </div>
    </section>
  </main>

  <!-- footer 시작 
  <footer class="footer">
    <div class="footer-links">
      <a href="#">개인정보처리방침</a>
      <a href="#">운영정책</a>
      <a href="#">고객센터</a>
    </div>
    <div class="footer-info">
      8교시는 학생들을 위한 건전한 온라인 공간입니다. 부적절한 게시물 발견 시 제재될 수 있습니다.
    </div>
    <div class="scroll-top">↑</div>
  </footer>
  -->

  <!-- 공통 footer -->
  <th:block th:replace="~{common/footer}"></th:block>

  <!-- 회원 가입 js 추가 -->
  <script src="/js/member/signup.js"></script>

  <!-- 다음 API js 추가 -->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>

</html>