<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.eightgyosi.member.model.mapper.MemberMapper">
   
   <!-- 회원가입 : dasol -->
   
   <!-- 로그인 -->
   <select id="login" resultType="Member">
   		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME,
		PROFILE_IMG, TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" SS"초"') ENROLL_DATE,
		MEMBER_DEL_FL, MEMBER_BIRTH, MEMBER_TEL, MEMBER_ADDRESS, 
		AUTHORITY, MEMBER_BG, MEMBER_SCHOOL, QUOTES_CONTENT, QUOTES_FONT_SIZE, QUOTES_FONT_FAMILY
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEMBER_DEL_FL = 'N'
   </select>
   
   <!-- 이메일 중복 검사 -->
   <select id="checkEmail" resultType="_int">
   		SELECT COUNT(*)
   		FROM MEMBER
   		WHERE MEMBER_DEL_FL = 'N'
   		AND MEMBER_EMAIL = #{memberEmail}
   </select>
   
   <!-- 닉네임 중복 검사 -->
   <select id="checkNickname" resultType="_int">
  	SELECT COUNT(*)
  	FROM MEMBER
  	WHERE MEMBER_DEL_FL = 'N'
  	AND MEMBER_NICKNAME = #{memberNickname}
  </select>
  
  <!-- 회원가입 -->
  <insert id="signup">
  	INSERT INTO MEMBER 
  	VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memberEmail}, #{memberPw}, 
  	#{memberNickname}, NULL, DEFAULT, DEFAULT, #{memberBirth}, 
  	#{memberTel}, NULL, DEFAULT, DEFAULT, #{memberSchool}, NULL, NULL, NULL)
  </insert>
  
  
   
</mapper>