<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="edu.kh.eightgyosi.mypage.model.mapper.MyPageMapper">

	<select id="selectCalender">
		SELECT * FROM "CALENDER"
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY CALENDER_ID
	</select>

	<!-- 특정 멤버의 오답노트 테이블 전체를 조회 내림차순 조회하여 제일 최신 행이 1행에 담기게 한다 -->
	<select id="selectWrongNote">
		SELECT * FROM "WRONG_NOTE"
		ORDER BY "WRONG_NOTE_NO"
		DESC
	</select>

	<!-- 오답노트 정보 등록 -->
	<!-- controller 에서 wrongNoteNo를 URL 에 뿌려주기 위해 selectKey 활용 -->
	<insert id="insertWrongNote" useGeneratedKeys="true"
		parameterType="WrongNoteDTO">

		<selectKey order="BEFORE" resultType="_int"
			keyProperty="wrongNoteNo">
			SELECT SEQ_WRONG_NOTE_NO.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO "WRONG_NOTE" VALUES(
		#{wrongNoteNo},
		#{wrongNoteTitle},
		#{wrongNoteContent},
		#{wrongNoteMyanswer},
		#{wrongNoteExplain},
		#{wrongNoteType},
		DEFAULT,
		#{memberNo},
		#{wrongNoteUnderstood}
		)
	</insert>

	<!-- 회원 정보 변경 -->
	<update id="updateInfo">
		UPDATE MEMBER
		SET MEMBER_NICKNAME = #{memberNickname},
		MEMBER_TEL = #{memberTel},
		MEMBER_ADDRESS = #{memberAddress}
		WHERE
		MEMBER_NO = #{memberNo}
	</update>

	<!-- 회원이 비밀번호 조회 -->
	<select id="selectPw">
		SELECT MEMBER_PW
		FROM MEMBER
		WHERE MEMBER_NO =
		#{memberNo}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="changePw">
		UPDATE MEMBER
		SET MEMBER_PW = #{encPw}
		WHERE MEMBER_NO
		= #{memberNo}
	</update>

	<!-- 회원 탈퇴 -->
	<update id="secession">
		UPDATE MEMBER
		SET MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO =
		${memberNo}
	</update>


	<!-- 시간표 조회 -->
	<select id="selectTimetable">
		SELECT * FROM "TIMETABLE"
		WHERE MEMBER_NO =
		#{memberNo}
		AND SEMESTER = #{semester}
	</select>

	<!-- 파일 정보를 DB에 삽입 -->
	<insert id="insertUploadFile">
		INSERT INTO PROFILE_UPLOAD_FILE
		VALUES(SEQ_FILE_NO.NEXTVAL,
		#{filePath},
		#{fileOriginalName},
		#{fileRename},
		SYSDATE,
		#{memberNo})
	</insert>

	<!-- 프로필 이미지 변경 -->
	<update id="profile">
		UPDATE MEMBER
		SET PROFILE_IMG = #{profileImg}
		WHERE
		MEMBER_NO = ${memberNo}
	</update>

	<!-- 시간표 등록 : 다중행 삽입 -->
	<insert id="insertTimetable" parameterType="java.util.HashMap">
		INSERT INTO "TIMETABLE"
		(TIMETABLE_ID, SEMESTER, MEMBER_NO,
		DAY_CLASS_SUBJECT)
		VALUES
		<foreach item="temp" collection="list" separator=",">
			(SEQ_TIMETABLE_ID.NEXTVAL, #{semester}, #{memberNo}, #{temp})
		</foreach>
	</insert>

</mapper>
