<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kh.goodsugar.board.model.mapper.BoardMapper">

   <select id="selectBoardList" resultType="edu.kh.goodsugar.board.model.dto.Board">
    	SELECT 
	        BOARD_ID          AS boardId,
	        BOARD_TITLE       AS boardTitle,
	        BOARD_CONTENT     AS boardContent,
	        BOARD_VIEW_COUNT  AS boardViewCount,
	        BOARD_DELETED_FL  AS boardDeletedFl,
	        BOARD_CREATE      AS boardCreate,
	        IS_ANONYMOUS_YN   AS isAnonymousYn,
	        ANONYMOUS_NAME    AS anonymousName,
	        MEMBER_ID         AS memberId,
	        NICKNAME          
	    FROM BOARD 
	    JOIN MEMBER USING(MEMBER_ID)
	    WHERE BOARD_DELETED_FL = 'N'
	    ORDER BY BOARD_ID DESC
	</select>

	<select id="selectSnackList" resultType="edu.kh.goodsugar.board.model.dto.Board">
		SELECT
			B.BOARD_TITLE,
			B.BOARD_CONTENT,
			B.BOARD_VIEW_COUNT,
			B.BOARD_DELETED_FL,
			B.BOARD_CREATE,
			B.BOARD_UPDATE,
			B.IS_ANONYMOUS_YN,
			S.SNACK_ID,
			S.DETAILS,
			S.BLOOD_SUGAR_F,
			S.BLOOD_SUGAR_S,
			S.FASTING_GLU,
			S.EXER,
			S.TASTERATING
		FROM "BOARD" B
		JOIN "SNACK" S ON (B.MEMBER_ID = S.MEMBER_ID)
		WHERE B.BOARD_DELETED_FL = 'N'
		AND B.BOARD_TYPE_ID = 2
		ORDER BY S.SNACK_ID DESC
	</select>


   
</mapper>